
@{
    ViewBag.Title = "Verify Account";
}

<h1>Congragulations</h1>
<h2>The account for @ViewBag.Email has successfully been verified.
     You now have full access to everything HomesSecurity has to offer</h2>
<h3>@ViewBag.Ver</h3>

